<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div class="container">
                <div class="cards-container" id="cards">
                    <div class="cards-list">
                        <div v-for="card in cards1" :key="card.id" >
                            <div v-if="!card.selected" v-on:click="select1(card)" class="cardback" id="cardback" ></div>
                            <div v-if="card.selected" v-on:click="select1(card)" class="cardfront" id="cardfront"> 
                                <p class="card-text">{{ card.id }}</p> 
                            </div>
                        </div>
                    </div>
                    <div class="cards-list">
                        <div v-for="card in cards2.slice().reverse()" :key="card.id">
                            <div v-if="!card.selected" v-on:click="select2(card)" class="cardback" id="cardback" ></div>
                            <div v-if="card.selected" v-on:click="select2(card)" class="cardfront" id="cardfront"> 
                                <p class="card-text">{{ card.id }}</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards-list" id="cards-2">
                    
                </div>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>